streamlit==1.41.1
PyMuPDF==1.25.3
python-docx==1.1.2
docxtpl==0.19.1
sentence-transformers==3.4.1
groq==0.18.0
Jinja2==3.1.5
WeasyPrint==63.1
python-dotenv==1.0.1
numpy==2.2.3
torch==2.6.0
torchvision==0.21.0
transformers==4.49.0
